{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaVersion": 6,
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "semi": ["error", "always"],
    "no-constant-condition": ["error", { "checkLoops": false }],
    "comma-dangle": ["error", "only-multiline" ],
    "no-console": ["warn"],
    "no-unused-vars": ["error", { "args": "none"}],
    "quotes": ["error", "single", { "allowTemplateLiterals": true}]
  }
}
